html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
